.profile-section {
    width: 65vw;
    background: #fff;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    padding: 40px 80px 120px 80px;
    margin: 40px 20px 0px;
}
.profile-title {
    color: #3A3D42;
    font-size: 18px;
    font-weight: bold;
}

.profile-desc {
    width: 342px;
    color: #7A7886;
    font-size: 16px;
    margin-top: 25px;
}
.change-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-password {
    border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
    color: #D0CCCC;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    margin-top: 50px;
    width: 432px;
}

.change-btn {
    width: 432px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    background-color: #6379F4;
    color: white;
}
.input{
    width: 100%;
    border: none;
}

.btnDisable {
    width: 100%;
    border: 1px solid #d0cccc;
    color: #6379F4 ;
    font-size: 18px;
    background: #D0CCCC;
    border-radius: 12px;
    display: block;
    text-align: center;
    padding: 10px 0px;
    margin-top: 70px;
}
.detail-field {
    color: #514F5B;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}