.profile-section {
    width: 65vw;
    background: #fff;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 30px !important;
    margin-left: 20px;
    margin-top: 40px;
}
.profile-title {
    color: #3A3D42;
    font-size: 18px;
    font-weight: bold;
}
.profile-desc {
    width: 342px;
    color: #7A7886;
    font-size: 16px;
    margin-top: 25px;
}

.profile-detail-desc {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 92px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    align-items: left;
    justify-content: center;
}
.profile-detail-desc p {
    margin-left: 20px;
}

.detail-title {
    font-size: 16px;
    color: #7A7886;

}

.detail-field {
    color: #514F5B;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    border: none;
}
.detail-field-input {
    color: #514F5B;
    font-weight: bold;
    font-size: 22px;
    margin-left: 20px;
    border: none;
}
.detail-field:focus {
    border: none;
    background-color: white;
}
.manage-tab {
    margin-right: 30px;
    color: #6379F4;
    font-size: 16px;
    text-align: end;

}
.btnEdit{
    border: none;
    background-color: white;
    text-align: end;
    color: blue;
    margin-right: 30px;
}