.wrapperFull {
  height: 95%;
}

.history-section {
  height: 95%;
  margin-top: 5%;
  margin-left: 5%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 25px;
  position: relative;
  width: 64vw;
  background: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 20px;
  overflow: hidden;
}
.transaction-history {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #3a3d42;
}

.transfer-container {
  margin: 30px 10vw;
  width: 80vw;
  display: flex;
  flex-direction: row;
}
.search {
  position: relative;
  height: 54px;
  color: #cacaca;
  box-sizing: border-box;
  border-radius: 12px;
  background: rgba(58, 61, 66, 0.1);
  margin-top: 30px;
  padding-top: 12px;
}
.search img {
  text-decoration: none;
  color: #cacaca;
  padding-left: 20px;
  padding-bottom: 8px;
}
.search-input {
  outline: none;
  border: none;
  width: 90%;
  margin-left: 5px;
  color: rgba(58, 61, 66, 0.4);
  font-size: 17px;
  background: rgba(58, 61, 66, 0.001);
}
.nav-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}
.history {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.this-week {
  font-size: 16px;
  color: #7a7886;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-top: 20px;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.history-transaction {
  margin-top: 50px;
}
.transaction {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
}
.name1 {
  margin-left: 0px;
}
.phone {
  font-size: 14px;
  margin-left: 0px;
  font-weight: normal;
  color: #7a7886;
}
.trf-desc {
  font-size: 12px;
  width: 336px;
  font-size: 16px;
  line-height: 28px;
  color: #7a7886;
  margin-top: 40px;
}
.amount-desc {
  margin-top: 65px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.amount-desc-input {
  outline: none;
  border: none;
  font-size: 42px;
  text-align: center;
  color: #6379f4;
}

.amount-desc-p {
  font-size: 16px;
  color: #3a3d42;
  margin-top: 42px;
}

.trf-input {
  border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
  color: #d0cccc;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  margin-top: 50px;
  width: 343px;
}

.trf {
  box-sizing: border-box;
  width: 100%;
  border: none;
  display: block;
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
  color: rgba(169, 169, 169, 0.8);
}

.continue {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 65px;
}
.continue p {
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  width: 170px;
  height: 63px;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-detail {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #3a3d42;
}

.trf-detail {
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  padding: 15px;
}

.title-trf {
  font-size: 16px;
  color: #7a7886;
  font-weight: lighter;
}

.detail-trf {
  color: #514f5b;
  font-weight: bold;
}

.modalContainer {
  position: absolute;
  border-radius: 10px;
  top: 110%;
  left: 35%;
  width: 500px;
  height: 400px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 999;
  backdrop-filter: blur(20px);
}

.modalContainer p {
  padding-top: 5%;
  padding-left: 5%;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.modalContainer h6 {
  padding-left: 5%;
}

.modalContainer .modal-input {
  width: 90%;
  margin-top: 5%;
  height: 65px;
  border-radius: 10px;
  margin-left: 5%;
}
.modal-input::-webkit-outer-spin-button,
.modal-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modalContainer input:focus {
  border: none;
}

.modalContainer button {
  position: absolute;
  bottom: 8%;
  right: 5%;
  border: none;
  background-color: #6379f4;
  color: white;
}

.modalContainer button:hover {
  position: absolute;
  bottom: 8%;
  right: 5%;
  border: none;
  background-color: #6379f4;
  color: white;
}
.inputPin {
  height: 60px;
  width: 48px;
  font-size: 30px;
  color: #3a3d42;
  text-align: center;
  margin-right: 25px;
  border: 1px solid rgba(169, 169, 169, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
}
.inputPin[type="number"]::-webkit-inner-spin-button,
.inputPin[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.text-modal1 {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.text-modal2 {
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-right: 100px;
}

.wrap-pin {
  margin-left: 35px;
}
.btn-1 {
  width: 20%;
  border: 1px solid #d0cccc;
  color: #D0CCCC;
  font-size: 18px;
  background: #6379F4;
  color: #fff;
  border-radius: 12px;
  display: block;
  text-align: center;
  padding: 10px 0px;
  margin-top: 70px;
}